extends layout 
 
block content 
  h1= title 
 
  - let mobileid = toShow._id
  - let mobile_type = toShow.mobile_type
  - let mobilecost = toShow.cost
  - let mobilesize = toShow.size 
  div 
    div.row 
      div(class='mobileAttr mr-3') mobile ID is: 
      div #{mobileid} 
    div.row 
      div(class='mobileAttr mr-3') mobile Type is: 
      div #{mobile_type} 
    div.row 
      div(class='mobileAttr mr-3') mobile Size is: 
      div #{mobilesize} 
    div.row 
      div(class='mobileAttr mr-3') mobile Cost is: 
      div #{mobilecost}

