extends layout

block content
  h1= title

  - let mobiles=results

  div(class= "container-fluid")
    div(class = "row m-1")
      each mobile,index in mobiles
        -let destination = `dispatch(\"/mobile/update?id=${mobile._id}\")`
        div(class= "col-sm-2 btn btn-light",  onclick=`buy(${index})`) mobile Type: #{mobile.mobile_type}
        div(class= "col-sm-2 btn btn-light",  onclick=`buy(${index})`) mobile Size: #{mobile.size}
        div(class= "col-sm-2 btn btn-light",  onclick=`buy(${index})`) mobile Cost: #{mobile.cost}
        button.btn( class="btn-secondary ml-1", onclick= destination) Update 
   
  script. 
    function dispatch(path){ 
      window.location.href=path 
    } 
  script.
    function buy(itemNum){
      alert(`The purchased item is ${itemNum+1}`)
    }