extends layout 
 
block content 
  h1= title 
 
  - let mobileid = toShow._id
  - let mobile_type = toShow.mobile_type
  - let mobilecost = toShow.cost
  - let mobilesize = toShow.size 
  div 
    div.row 
      div(class='mobileAttr mr-3 bg-light border border-dark rounded-2 shadow p-2  text-dark') mobile ID is: 
      div(class='mobileAttr mr-3  bg-dark border border-dark rounded-2 shadow p-2  text-white')
      div #{mobileid} 
    div.row 
      div(class='mobileAttr mr-3 bg-light border border-dark rounded-3 shadow p-2  text-dark') mobile Type is: 
      div(class='pizzaAttr mr-3 bg-dark border border-dark rounded-2 shadow p-2   text-white')
      div #{mobile_type} 
    div.row 
      div(class='mobileAttr mr-3 bg-light border border-dark rounded-3 shadow p-2  text-dark') mobile Size is: 
      div(class='pizzaAttr mr-3 bg-dark border border-dark rounded-2 shadow p-2  text-white')
      div #{mobilesize} 
    div.row 
      div(class='mobileAttr mr-3 bg-light border border-dark rounded-3 shadow p-2  text-dark') mobile Cost is: 
      div(class='pizzaAttr mr-3 bg-dark border border-dark rounded-2 shadow p-2  text-white')
      div #{mobilecost}

